
    <h2>Social Links</h2>
    <a href=""
   class="text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-4 py-2"
   hx-get="{% url 'base:social_create' %}"
   hx-target="#content-container"
   hx-swap="innerHTML">
   + Add Social Link
</a>
    <ul>
        {% for social in social_links %}
            <li>{{ social.get_platform_display }} - <a href="{{ social.url }}">{{ social.url }}</a>
                <a href="{% url 'base:social_update' social.pk %}">Edit</a>
                <a href="{% url 'base:social_delete' social.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

